# Environments
.venv/
venv/
env/

# Python Cache
__pycache__/
*.pyc

# Local Databases & Model Weights
*.sqlite
models/
*.onnx

# Database and Documents
data/
*.db
*.pdf

# IDEs
.vscode/
.idea/

# OS and Log files
*.log
.DS_Store